<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_tag @list.photo.key, crop: :fill %>');">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>

<%# FORM %>

<div class="text-right m-3">
  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Add Movie</button>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Movie</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@list, @bookmark] do |f| %>

          <div class="form-inputs">
            <%= f.input :comment %>
            <%= f.input :movie, collection: Movie.names %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= f.button :submit, class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%# MOVIES %>

<div class="cards m-3">
  <% @bookmarks.each do |mark| %>
    <div class="card-trip">
      <img src="https://static.posters.cz/image/350/posters/avengers-infinity-war-one-sheet-i58560.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2><%= mark.movie.title %></h2>
          <p><%= mark.movie.overview %></p>
        </div>
        <%= link_to bookmark_path(mark), method: :delete , data: {confirm: "Are you sure?"}, class: "card-remove-link" do %>
          <i class="fas fa-trash"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
