<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>

  <body>
    <div class="navbar navbar-expand-sm bg-light">
      <%= link_to image_tag('clipart88403.png', alt: "movie-icon", width: 40, class: "navbar-brand"), root_path %>
      <div class="navbar-nav ml-auto mt-2">
        <p class="nav-item mr-2"><%= link_to 'My Lists', root_path, class:"btn btn-ghost" %></p>
        <div class="text-right">
          <button type="button" class="btn btn-ghost" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Create List</button>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>

<%# FORM %>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <%= simple_form_for(@list) do |f| %>

          <div class="form-inputs">
            <%= f.input :name %>
            <%= f.input :photo, as: :file %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= f.button :submit, class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
